[Unit]
Description=Doppelcheck Server
After=network.target

[Service]
Type=simple
User=doppelcheck
WorkingDirectory=/home/doppelcheck/main
ExecStart=/home/doppelcheck/main/venv/bin/python /home/doppelcheck/main/main.py
Environment="PYTHONPATH=/home/doppelcheck/main"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
