/* variable for sidebar width */
#doppelcheck-body-wrapper {
    display: flex;
    height: 100vh;
}

#doppelcheck-main-content {
    flex-grow: 1; /* Takes up the remaining space */
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
}

#doppelcheck-sidebar {
    width: 300px; /* Fixed width for the sidebar */
    overflow-y: auto; /* Enables vertical scrolling if content overflows */

    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#doppelcheck-sidebar * {
    all: revert;
}

#doppelcheck-sidebar.doppelcheck-sidebar-hidden {
    transform: translateX(100%);
}

#doppelcheck-sidebar .doppelcheck-document-clickable {
    cursor: pointer;
}