/* variable for sidebar width */
#doppelcheck-sidebar, #doppelcheck-sidebar * {
    all: initial;
    /*box-sizing: border-box;*/
}

#doppelcheck-sidebar {
    position: fixed;
    resize: horizontal;
    direction: rtl;

    top: 0;
    bottom: 0;
    right: 0;

    background-color: white;

    width: 300px; /* Fixed width for the sidebar */
    overflow: auto; /* Enables vertical scrolling if content overflows */

    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    z-index: 1001;
}

#doppelcheck-sidebar.doppelcheck-sidebar-hidden {
    transform: translateX(100%);
}

#doppelcheck-sidebar .doppelcheck-document-clickable {
    cursor: pointer;
}
