#doppelcheck-main-content {
}

/* Different semi-transparent highlight colors */
#doppelcheck-main-content .doppelcheck-claim-0 {
    background-color: rgba(255, 255, 0, 0.3); /* Light yellow */
}
#doppelcheck-main-content .doppelcheck-claim-1 {
    background-color: rgba(0, 255, 0, 0.3); /* Light green */
}
#doppelcheck-main-content .doppelcheck-claim-2 {
    background-color: rgba(0, 255, 255, 0.3); /* Light cyan */
}
#doppelcheck-main-content .doppelcheck-claim-3 {
    background-color: rgba(255, 0, 255, 0.3); /* Light magenta */
}
#doppelcheck-main-content .doppelcheck-claim-4 {
    background-color: rgba(255, 165, 0, 0.3); /* Light orange */
}
#doppelcheck-main-content .doppelcheck-claim-5 {
    background-color: rgba(0, 0, 255, 0.3); /* Light blue */
}
#doppelcheck-main-content .doppelcheck-claim-6 {
    background-color: rgba(160, 32, 240, 0.3); /* Light purple */
}
#doppelcheck-main-content .doppelcheck-claim-7 {
    background-color: rgba(255, 192, 203, 0.3); /* Light pink */
}
#doppelcheck-main-content .doppelcheck-claim-8 {
    background-color: rgba(64, 224, 208, 0.3); /* Light turquoise */
}
#doppelcheck-main-content .doppelcheck-claim-9 {
    background-color: rgba(255, 69, 0, 0.3); /* Light red-orange */
}