#doppelcheck-shadow-container {
    box-sizing: border-box;
    padding: 1em 2em 1em 1em;
    direction: ltr;
    height: 100%;
}

#doppelcheck-notification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#doppelcheck-notification-overlay.hidden {
    display: none;
}

#doppelcheck-notification-content {
}


#doppelcheck-instance-id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 2em;
    font-size: .5em;
}

#doppelcheck-data-sources-list {
    font-size: .5em;
}

.doppelcheck-keypoint {
    line-height: 1.5em;
}

.doppelcheck-each-keypoint-container {
    margin-bottom: 1em;
}

.doppelcheck-retrieval-progress-image {
    width: 3em;
    height: 3em;
    object-fit: contain;
}

.doppelcheck-compare-button {
}

/* Different semi-transparent highlight colors */
#doppelcheck-shadow-container .doppelcheck-keypoint-0 {
    background-color: rgba(255, 255, 0, 0.3); /* Light yellow */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-1 {
    background-color: rgba(0, 255, 0, 0.3); /* Light green */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-2 {
    background-color: rgba(0, 255, 255, 0.3); /* Light cyan */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-3 {
    background-color: rgba(255, 0, 255, 0.3); /* Light magenta */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-4 {
    background-color: rgba(255, 165, 0, 0.3); /* Light orange */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-5 {
    background-color: rgba(0, 0, 255, 0.3); /* Light blue */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-6 {
    background-color: rgba(160, 32, 240, 0.3); /* Light purple */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-7 {
    background-color: rgba(255, 192, 203, 0.3); /* Light pink */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-8 {
    background-color: rgba(64, 224, 208, 0.3); /* Light turquoise */
}
#doppelcheck-shadow-container .doppelcheck-keypoint-9 {
    background-color: rgba(255, 69, 0, 0.3); /* Light red-orange */
}

#doppelcheck-shadow-container .doppelcheck-source-clickable {
    cursor: pointer;
}

.doppelcheck-source-container {
    /* make the text expand the full width and truncate it with ... if necessary */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-top: 1em;
}

.doppelcheck-explanation-container {
    white-space: break-spaces;
}

#doppelcheck-shadow-container summary {
    cursor: pointer;
}